body {
	background-color: black;
	font-family: "Roboto Mono", monospace;
	color: #00ff41;
}

.main--section {
	text-align: center;
}

.nav--bar {
	margin: 0;
}

img {
	margin: 0.5rem;
	padding: 0;
	width: 25%;
}

@media (max-width: 700px) {
	.main--section {
		margin: 100px 0;
	}
	img {
		margin: 0.5rem;
		padding: 0;
		width: 50%;
	}
}

/* Link Styling */

.main--section a {
	color: #00ff41;
	margin: 0 1rem;
}
