body {
	background-color: #121212;
	color: #d0d0d0;
}

.main--section {
	text-align: center;
	margin: 300px 0;
}

.nav--bar {
	margin: 0;
}

@media (max-width: 700px) {
	.main--section {
		margin: 200px 0;
	}
}

/* Link Styling */

.main--section a {
	color: #0091ff;
	margin: 0 1rem;
}
