body {
	background-color: black;
	font-family: "Roboto Mono", monospace;
	color: #00ff41;
	text-align: center;
}

.main--section {
	text-align: center;
	margin: 0;
}

img {
	margin: 0.5rem;
	padding: 0;
	width: 25%;
}

@media (max-width: 700px) {
	.main--section {
		margin: 100px 0;
	}
	img {
		margin: 0.5rem;
		padding: 0;
		width: 50%;
	}
	.nav--bar a {
		display: block;
	}
}

/* Link Styling */

.nav--bar a {
	color: #00ff41;
	padding: 0.5rem;
}

a {
	color: #00ff41;
}

li {
	list-style: none;
}

.projects {
	margin: 1rem;
	text-align: center;
	word-wrap: break-word;
}
.project--description {
	padding: 1rem;
}

.current--projects,
.past--projects {
	margin: 1rem;
	text-decoration: underline;
}
